{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %} 

    {% if already_enrolled %}<h3 class="text-center pt-5"><strong>{{ already_enrolled }}</strong></h3>{% endif %}   

    <form class=" py-5 col-9 m-auto" method="post">
        {% csrf_token %}
        {{ enroll_form.non_field_errors }}

        <div>
            <div>
                {{ enroll_form.course.errors }}
            </div>
            <div class="fieldWrapper input-group mb-5">
                {{ enroll_form.course }}
            </div>
            <label for="{{ enroll_form.course.id_for_label }}" class="error">Please select a course </label>
        </div>

        <div class="d-flex justify-content-center m-2 p-2">
                <button type="submit" class="submit btn btn-success" id="enroll" name="enroll">Enroll</button>
        </div>

    </form>

{% endblock %}