{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %} 

{% if success_change_password %}<h3 class="text-center pt-5"><strong>{{ success_change_password }}</strong></h3>{% endif %}
{% if same_password %}<h3 class="text-center pt-5"><strong>{{ same_password }}</strong></h3>{% endif %}
{% if match_password %}<h3 class="text-center pt-5"><strong>{{ match_password }}</strong></h3>{% endif %}

    <form class=" py-5 cmxform col-9 m-auto" id="change_password"   method="post" autocomplete="off">
        {% csrf_token %}

        <div>
            <div class="input-group mt-5 mb-2">
                <span class="input-group-text border border-2 border-dark">
                    <img src="{% static 'login/Assets/lock.png' %}" class="w-100 h-100" alt="mail-logo">
                </span>
                <input type="password" id="password" class="form-control border border-2 border-dark" placeholder="Password" name="password">
            </div>
            <label for="password" class="error">Please enter your Password</label>
        </div>

        
        <div>
            <div class="input-group mt-5 mb-2">
                <span class="input-group-text border border-2 border-dark">
                    <img src="{% static 'login/Assets/lock.png' %}" class="w-100 h-100" alt="mail-logo">
                </span>
                <input type="password" id="confirm_password" class="form-control border border-2 border-dark" placeholder="Confirm Password" name="confirm_password">
            </div>
            <label for="confirm_password" class="error">Password didn't match</label>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="submit btn btn-success m-2" id="reset_password" name="reset_password">Reset Password</button>
            <a href="{% url 'roles_management:home' %}" class="text-white">
                <button type="button" class="submit btn btn-success m-2" id="homw">Home</button>
            </a>
        </div>

    </form>
{% endblock %}