{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'Assets/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">E-Learning</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3" novalidate method="post" enctype="multipart/form-data" action="{% url 'roles_management:signup' %}" id="signup_form">
                    {% csrf_token %}

                        {{ user_form.non_field_errors }}
                        {{ profile_form.non_field_errors }}
                        <div class="my-3">
                            <div>
                                {{ user_form.username.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_username" class="form-label">Your Name</label>
                                <input type="text" name="username" maxlength="150" class="form-control" id="id_username" placeholder="Username" aria-describedby="id_username_helptext" required>
                                <label for="id_username" class="error">Please, enter your name!</label>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                {{ user_form.first_name.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_first_name" class="form-label">First Name</label>
                                <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name" placeholder="First Name" required>
                                <label for="id_first_name" class="error">Please, enter your firstname!</label>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                {{ user_form.last_name.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_last_name" class="form-label">Last Name</label>
                                <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name" placeholder="Last Name" required>
                                <label for="id_last_name" class="error">Please, enter your lastname!</label>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                {{ user_form.email.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" required>
                                <label for="id_email" class="error">Please enter a valid Email adddress!</label>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                {{ user_form.password.errors }}
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <label for="password" class="error">Please enter your password</label>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                {{ user_form.confirm_password.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_confirm_password" class="form-label">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" id="id_confirm_password" placeholder="Confirm Password" required>
                                <label for="id_confirm_password" class="error">Please enter the same password!</label>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                {{ profile_form.mobile.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_mobile" class="form-label">Mobile Number</label>
                                <input type="password" name="mobile" class="form-control" id="id_mobile" placeholder="Mobile Number" required>
                                <label for="id_mobile" class="error">Please enter Mobile Number</label>
                            </div>
                        </div>

                        {% load countries %}
                        {% get_countries as countries %}
                        <div class="my-3">
                            <label for="id_country" class="form-label">Country</label>
                            <div class="fieldWrapper input-group ">
                                <select name="country" class="form-control" id="id_country">
                                    <option value="">Select a Country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="id_country" class="error">Please select a country</label>
                        </div>



                        <div class="my-3">
                            <div>
                                {{ profile_form.date_of_birth.errors }}
                            </div>
                            <div class="col-12">
                                <label for="id_date_of_birth" class="form-label">Date of Birth</label>
                                <input type="date" name="date_of_birth" class="form-control" id="id_date_of_birth" required>
                                <label for="id_date_of_birth" class="error">Please enter Date of Birth</label>
                            </div>
                        </div>

                        <fieldset>
                            <div>
                                {{ profile_form.gender.errors }}
                            </div>
                            <legend class="h6 pt-2">Gender</legend>
                            <div class="form-check my-3">
                                <div id="id_gender">
                                    <div>
                                        <label for="id_gender_0">
                                            <input type="radio" name="gender" class="form-check-input" value="M" required="" id="id_gender_0">Male
                                        </label>
                                    </div>
                                    <div>
                                        <label for="id_gender_1">
                                            <input type="radio" name="gender" class="form-check-input" value="F" required="" id="id_gender_1">Female
                                        </label>
                                    </div>
                                    <div>
                                        <label for="id_gender_2">
                                            <input type="radio" name="gender" class="form-check-input" value="O" required="" id="id_gender_2">Others
                                        </label>
                    
                                    </div>
                                </div>
                            </div>
                            <label for="gender" class="error">Please select your gender</label>
                        </fieldset>

                        <fieldset>
                            <div>
                                {{ profile_form.profie_picture.errors }}
                            </div>
                            <legend class="my-3 h6">Upload profile picture</legend>
                            <div>
                                <input type="file" name="profie_picture" class="form-control" accept="image/*" id="id_profie_picture">
                            </div>
                            <label for="id_profie_picture" class="error">Please upload an image</label>
                        </fieldset>
            
                        <fieldset>
                            <div>
                                {{ profile_form.resume.errors }}
                            </div>
                            <legend class="my-3 h6">Upload Resume</legend>
                            <div>
                                <input type="file" name="resume" class="form-control" id="id_resume">
                            </div>
                            <label for="id_resume" class="error">Please upload your resume</label>
                        </fieldset>
            
                        <div>
                            <div>
                                {{ profile_form.is_teacher.errors }}
                            </div>
                            <label for="id_is_teacher" class="h6">Are you a Teacher</label>
                            <div class="input-group mt-2 my-3">
                                <input type="checkbox" name="is_teacher" id="id_is_teacher" class="form-check-input">
                            </div>
                        </div>

                        <!-- <div class="col-12">
                            <div class="form-check">
                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                            </div>
                        </div> -->

                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit" id="submit">Create Account</button>
                            <button class="btn btn-primary w-100 mt-4" type="button" id="auto_fill">Auto Fill</button>
                        </div>

                        <div class="col-12">
                            <p class="small mb-0">Already have an account? <a href="{% url 'roles_management:login' %}">Log in</a></p>
                        </div>
                    </form>

                    </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
  
{% endblock %}

{% block footer %}
{% endblock %}