{% extends "base.html" %}

{% load static %}

{% block title %} Signup_page {% endblock %}

{% block body %}
<div class="p-3 col-sm-6 mx-auto container my-5">
    <div class="top-line"></div>
    <div class="formbox p-5">
        
        <h1 class="text-center pt-5 mb-5">Sign Up</h1>

        {% if userexists %}<h3 class="text-center pt-5"><strong>{{ userexists }}</strong></h3>{% endif %}

        <form class=" py-5 cmxform" id="signupForm" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.non_field_errors }}
            {{ profile_form.non_field_errors }}
            <div>
                <div>
                    {{ user_form.username.errors }}
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <span class="input-group-text border border-2 border-dark">
                        <img src="{% static 'Assets/person.png' %}" class="w-100 h-100" alt="mail-logo">
                    </span>
                    <input type="text" name="username" maxlength="150" class="form-control border border-2 border-dark" placeholder="Username" 
                     required="" aria-describedby="id_username_helptext" id="id_username">
                </div>
                <label for="{{ user_form.username.id_for_label }}" class="error">Please enter your Username</label>
            </div>


            <div>
                <div>
                    {{ user_form.first_name.errors }}
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <span class="input-group-text border border-2 border-dark">
                        <img src="{% static 'Assets/person.png' %}" class="w-100 h-100" alt="mail-logo">
                    </span>
                    <input type="text" name="first_name" maxlength="150" class="form-control border border-2 border-dark" 
                     placeholder="First Name" id="id_first_name">  
                </div>
                <label for="{{ user_form.first_name.id_for_label }}" class="error">Please enter your First Name</label>
            </div>


            <div>
                <div>
                    {{ user_form.last_name.errors }}
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <span class="input-group-text border border-2 border-dark">
                        <img src="{% static 'Assets/person.png' %}" class="w-100 h-100" alt="mail-logo">
                    </span>
                    <input type="text" name="last_name" maxlength="150" class="form-control border border-2 border-dark" 
                    placeholder="Last Name" id="id_last_name">
                </div>
                <label for="{{ user_form.last_name.id_for_label }}" class="error">Please enter your Last Name</label>
            </div>


            <div>
                <div>
                    {{ user_form.email.errors }}
                </div>
                <div class="error mt-3">
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <span class="input-group-text border border-2 border-dark">
                        <img src="{% static 'Assets/image.png' %}" class="w-100 h-100" alt="mail-logo">
                    </span>
                    <input type="email" name="email" maxlength="254" class="form-control border border-2 border-dark" placeholder="Email" id="id_email">
                </div>
                <label for="{{ user_form.email.id_for_label }}" class="error">Please enter your Email</label>
            </div>


            <div>
                <div>
                    {{ user_form.password.errors }}
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <span class="input-group-text border border-2 border-dark">
                        <img src="{% static 'Assets/lock.png' %}" class="w-100 h-100" alt="mail-logo">
                    </span>
                    <input type="password" name="password" id="password" required="" class="form-control border border-2 border-dark" 
                    placeholder="Password">
                </div>
                <label for="{{ user_form.password.id_for_label }}" class="error">Please enter your Password</label>
            </div>

            
            <div>
                <div>
                    {{ user_form.confirm_password.errors }}
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <span class="input-group-text border border-2 border-dark">
                        <img src="{% static 'Assets/lock.png' %}" class="w-100 h-100" alt="mail-logo">
                    </span>
                    <input type="password" name="confirm_password" class="form-control border border-2 border-dark" placeholder="Confirm Password" 
                     required="" id="id_confirm_password">
                </div>
                <label for="{{ user_form.confirm_password.id_for_label }}" class="error">Please enter the same password as above</label>
            </div>
            

            <div>
                <div>
                    {{ profile_form.mobile.errors }}
                </div>
                <div class="fieldWrapper input-group mb-5">
                    <input type="text" name="mobile" class="form-control border border-2 border-dark" placeholder="Mobile Number" required="" id="id_mobile">
                </div>
                <label for="{{ profile_form.mobile.id_for_label }}" class="error">Please enter mobile number</label>
            </div>


            {% load countries %}
            {% get_countries as countries %}
            <div class="fieldWrapper input-group mb-5">
                <select name="country" class="form-control border border-2 border-dark" id="id_country">
                    <option value="">Select a Country</option>
                    {% for country in countries %}
                        <option value="{{ country.code }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>




            <div>
                <div>
                    {{ profile_form.date_of_birth.errors }}
                </div>
                <label for="{{ profile_form.date_of_birth.id_for_label }}" class="h6">Date of Birth</label>
                <div class="input-group mt-2 mb-5">
                    <input type="date" name="date_of_birth" class="form-control border border-2 border-dark" required="" id="id_date_of_birth">
                </div>
                <label for="{{ profile_form.date_of_birth.id_for_label }}" class="error">Please enter Date of Birth</label>
            </div>


            <fieldset>
                <div>
                    
                </div>
                <legend class="h6 pt-2">Gender</legend>
                <div class="form-check d-flex  py-2 mb-5">
                    <div id="id_gender">
                        <div>
                            <label for="id_gender_0"><input type="radio" name="gender" value="M" required="" id="id_gender_0">Male</label>
        
                        </div>
                        <div>
                            <label for="id_gender_1"><input type="radio" name="gender" value="F" required="" id="id_gender_1">Female</label>
        
                        </div>
                        <div>
                            <label for="id_gender_2"><input type="radio" name="gender" value="O" required="" id="id_gender_2">Others</label>
        
                        </div>
                    </div>
                </div>
                <label for="gender" class="error">Please select your gender</label>
            </fieldset>


            <fieldset>
                <div>
                    {{ profile_form.profie_picture.errors }}
                </div>
                <legend class="mb-3 h6">Upload profile picture</legend>
                <div>
                    <input type="file" name="profie_picture" accept="image/*" id="id_profie_picture">
                </div>
                <label for="{{ profile_form.profie_picture.id_for_label }}" class="error">Please upload an image</label>
            </fieldset>

            <fieldset>
                <div>
                    {{ profile_form.resume.errors }}
                </div>
                <legend class="mb-3 h6">Upload profile picture</legend>
                <div>
                    <input type="file" name="resume" id="id_resume">
                </div>
                <label for="{{ profile_form.resume.id_for_label }}" class="error">Please upload an image</label>
            </fieldset>

            <div>
                <div>
                    {{ profile_form.is_teacher.errors }}
                </div>
                <label for="{{ profile_form.is_teacher.id_for_label }}" class="h6">Are you a Teacher</label>
                <div class="input-group mt-2 mb-5">
                    <input type="checkbox" name="is_teacher" id="id_is_teacher">
                </div>
                <label for="{{ profile_form.is_teacher.id_for_label }}" class="error">Please enter Date of Birth</label>
            </div>


            <div class="d-flex justify-content-center mt-5">
                <button type="submit" class="submit btn btn-success m-2" id="signup" name="submit">Signup</button>
                
                <a href="{% url 'roles_management:login' %}">
                    <button type="button" class="submit btn btn-success m-2" id="login" name="login">Login</button>
                </a>
                    <a href="{% url 'roles_management:home' %}" class="text-white">
                <button type="button" class="submit btn btn-success m-2" id="Home">Home</button>
                    </a>
            </div>

        </form>
    </div>
</div>
{% endblock %}