# Django #
*.pyc
*.log
*.pot
__pycache__/
db.sqlite3
media

# celery 
celerybeat-schedule.* 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mypy 
.mypy_cache/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
