{% extends "base.html" %}

{% load static %}

{% block title %}  {% endblock %}

{% block body %}
    <main id="main" class="main">
        <section class="section">
            <h6 class="display-1 text-center course_heading">Enrolled Courses</h6>
            <div class="row align-items-top justify-content-around">

                {% for enrollment in enrollments %}
                    <!-- Card with header and footer -->
                    <div class="card col-lg-3 m-2 my-5">
                        <div class="card-header"><img src="{{ enrollment.course.course_image.url }}" class="card-img-top" alt="Enrolled Course Image" height="300"></div>
                        <div class="card-body">
                        <h5 class="card-title">{{ enrollment.course.course_name }}</h5>
                        <div class="mb-4">{{enrollment.course.category}}</div>
                        <div class="mb-4">{{enrollment.course.course_description}}</div>
                        <div><a href="{% url 'course_app:course_detail' enrollment.course.id %}"><button class="btn btn-primary">Details</button></a></div>
                        </div>
                    </div><!-- End Card with header and footer -->
                {% endfor %}
                    
            </div>
        </section>
    </main>



{% endblock %}